
p{
	color:lime;
}
.blue{
	color:pink;
}
#name{
	color:yellow;
}
div, {
color: black;
}
h2{
 color:purple;
}
img{
	width:200px;
	height: 150px;
}
.ll{
	text-align: center;
	color:;
}